# Python virtual environments
.venv/
venv/
env/
ENV/
pyenv/

# IDE / Editor folders
.vscode/
.idea/

# Local cache and databases
__pycache__/
*.pyc
*.pyo
*.pyd
.db
db.sqlite3

# Git history
.git
.github